@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@layer utilities {
  .ltr {
    direction: ltr;
  }

  .rtl {
    direction: rtl;
  }
}

body {
  min-height: screen;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}